DB_HOST=localhost
DB_PORT=5432
DB_NAME=flodiback
DB_USERNAME=flodiback
DB_PASSWORD=flodiback
DISCORD_TOKEN=your_discord_bot_token
DISCORD_BOT_PREFIX=!
GLM_API_KEY=your_glm_api_key
GLM_MODEL=glm-5.1
GLM_API_URL=grepp_url